.introduction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction-container h1 {
  font-size: 50px;
  font-family: "Cookie", cursive;
  font-weight: 300;
  background-color: rgba(201, 220, 227, 0.48);
  color: #70a6be;
  padding: 10px 270px;
  margin-bottom: 10px;
}

.introduction-container p {
  width: 43em;
  text-align: justify;
  font-size: 17px;
}

.latest-posts-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.latest-posts-carousel h2 {
  font-size: 17px;
}
