@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Poppins", "Cookie", sans-serif;
}

.logo a {
  text-decoration: none;
  color: #ca7b52;
}

.logo {
  color: #ca7b52;
  font-size: 3.5rem;
  font-family: "Cookie", cursive;
  font-weight: 400;
  letter-spacing: 3.75px;
  word-wrap: break-word;
  width: fit-content;
  margin: 12px;
}

header {
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
}

/* Navigation */

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  right: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgb(202 123 82, 0.55);
}

.nav-icon {
  font-size: 21px;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #ca7b52;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  background: white;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 0.5em;
  margin-right: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 300;
  opacity: 0;
  animation: opacityEntry 150ms ease-in-out forwards;
}

@keyframes opacityEntry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav a:hover {
  color: #ca7b66;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
#formInput1,
#emptyInput {
  display: none;
}
.visually-hidden,
#visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@media screen and (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }

  .logo {
    font-size: 7rem;
  }

  nav {
    transform: scale(1, 1);
    background: none;
    background: white;
    padding-bottom: 30px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 1px;
    background: #ca7b52;
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  #formInput1,
  #emptyInput {
    display: none;
  }
}

.footer-travel {
  display: flex;
  flex-direction: row;
  position: relative;
  column-gap: 70px;
  padding: 30px;
  border-top: 1px solid #ca7b52;
  border-bottom: 1px solid #ca7b52;
  flex-wrap: wrap;
  margin: 90px 10px 24px 9px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.footer-travel img {
  width: 100px;
  object-fit: cover;
}

.footer-travel h6 {
  font-size: 13px;
  font-weight: 100;
}

footer {
  display: flex;
  justify-content: center;
}

.hero-img {
  display: grid;
  justify-items: center;
}

.hero-img img {
  width: 100%;
  height: 850px;
  object-fit: cover;
}

.about-img-text h1 {
  border-radius: 4px;
  background: #fff;
  padding: 30px 50px;
  font-size: 4rem;
  font-weight: 400;
  font-family: "Cookie", cursive;
  color: #ca7b52;
  position: absolute;
  bottom: 260px;
  letter-spacing: 2px;
}

@media screen and (max-width: 900px) {
  .hero-img img {
    height: 23em;
  }

  .about-img-text h1 {
    padding: 7px 11px;
    font-size: 3rem;
    top: 170px;
    bottom: auto;
  }
}

/* Loader */

.spinner {
  height: 106px;
  width: 106px;
  border: 6px solid;
  border-color: rgb(210 122 16) transparent rgb(221 122 16) transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
  margin: 30px;
  text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1000px;
  width: 90%;
}

.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .carousel-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .carousel-container::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .carousel-container .carousel-container {
  width: 325px;
  height: 400px;
  object-fit: cover;
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

@media only screen and (max-width: 1023px) {
  .slider-wrapper #carousel-container {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .carousel-container #carousel-container {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb,
  .scrollbar-track {
    display: none;
  }
}

#carousel-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  padding: 20px;
}

.carousel-item:hover {
  background-color: rgba(221, 221, 221, 0.729);
  border-radius: 6px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/4;
  object-fit: cover;
}

.carousel-item p,
.post-container p {
  width: 20em;
  font-size: 14px;
  text-align: justify;
  margin-top: 0;
}

.carousel-item h2 {
  margin-bottom: 0;
}

.carousel-item a,
.post-container a {
  font-size: 14px;
  color: black;
  padding-bottom: 10px;
}

.carousel-item-link {
  text-decoration: none;
}

.carousel img {
  width: 308px;
  height: 400px;
  object-fit: cover;
}

.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
}

.latest-posts-carousel h3 {
  font-size: 70px;
  font-family: "Cookie", cursive;
  font-weight: 100;
  color: #0e93bb;
  margin: 30px 0 0 0;
}

.img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(208, 208, 208, 0.25);
}

.img-text p,
.carousel-container p {
  width: 20em;
  max-width: 20em;
  font-size: 14px;
  padding: 5px 18px;
  text-align: left;
}

.img-text h2 {
  margin-bottom: 0;
}

.img-text button,
.post-container button {
  position: relative;
  left: 89px;
  background-color: unset;
  border: 0;
  font-size: 16px;
  padding: 0 20px;
  color: #000e17;
  font-family: Poppins;
}

.img-text button:hover,
.post-container button:hover {
  border-bottom: 1px solid black;
  transition: ease-in 0.1s;
  cursor: pointer;
}

.arrows {
  font-size: 35px;
}

@media screen and (max-width: 900px) {
  .introduction-container h1 {
    font-size: 40px;
    padding: 10px 50px;
  }

  .introduction-container p {
    width: auto;
    padding: 0 45px;
  }

  .latest-posts-carousel h3 {
    font-size: 50px;
    padding: 0 10px;
  }
}
